<ion-content class="has-footer content" id="user_box">
        <header>
                <i class="icon ion-android-person"></i>
                <a ng-show="!isLogin" href="#/login">登录/注册</a>
                <p ng-show="isLogin">mary_2012</p>
        </header>

        <div class="list">
                <div class="item item-divider">
                        我关注的租房
                </div>
                <div class="row item" ng-repeat="fav in favoriteData track by $index">
                        <div class="col" ng-repeat="data in fav track by $index">
                                <a href="#/detail/{{data.pid}}"><img ng-src="{{data.pic}}" alt=""/></a>
                                <p>{{data.title2}}</p>
                                <p><span><em>{{data.price | number:2}}</em></span></p>
                        </div>
                </div>
        </div>

        <div class="list">
                <div class="item item-divider">
                        我关注的新房
                </div>
                <div class="row item" ng-repeat="fav in favoriteData track by $index">
                        <div class="col" ng-repeat="data in fav track by $index">
                                <a href="#/detail/{{data.pid}}"><img ng-src="{{data.pic}}" alt=""/></a>
                                <p>{{data.title2}}</p>
                                <p><span><em>{{data.price | number:2}}</em></span></p>
                        </div>
                </div>
        </div>
</ion-content>
<div ng-include="'tpl/include/footer_all.html'"></div>